/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 895px (Smaller desktops) */
/**************************/

@media(max-width:56em){
    .form-inner{
        flex-direction: column;
        display: flex;
    }

    .btn-form{
        margin: 2rem 0 0 0rem;
    }

    .text-label{
        margin-top: 1rem;
    }
    .text-input{
        width:100%;
        margin-right: 0;
    }

    .date-input::-webkit-datetime-edit{
        width: 2rem;
    }
    
    .Title-inner{
        font-size: 1.8rem;
    }

}

/**************************/
/* BELOW 716px (iPad) */
/**************************/

@media(max-width:45em){

   .FirstBox{
       position: relative;
       transition: ease 1s;
       
   }

   /* .First-main-box{
       display: none;

   } */

   .Btn-first-box{
       display: block;
       content: '';
       background: #FFFFFF;
       box-shadow: 2px 0px 1px rgba(0, 0, 0, 0.19);
       width: 3.1rem;
       height: 4.7rem;
       border: none;
       border-radius: 6px;
       right: -1rem;
       transform: translateY(500%); 
       cursor: pointer; 
       position: absolute;
       
   }

   .Btn-first-box::after{
       content: '';
       position: absolute;
       background-image: url('./assets/Arrow.svg');
       width: 2.1rem;
       height: 3.7rem;
       background-repeat: no-repeat;
       top:0.9rem;
       right: .1rem;

   }

   .FirstBox-hide{
   transition: ease 1s;
   transform: translateX(-100%);
}

}

